@tailwind base;
@tailwind components;
@tailwind utilities;

.profile{
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

#menu-toggle:checked + #menu {
    display: block;
}

.profile__data{
    color: #202124;
}

.schedules{
    background-color: #f4f0f0;
}

.holder{
    background-color: #f4f0f0;
}

.activities{  
    background-color: #3b3b3b;
}

.btn{
    background-color: #696969;
    border-radius: 6px;
}

.btn-primary{
    background-color: #fc5b06;
    border-radius: 6px;
}

.prospect{
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.prospect__data{
    background-color: #3b3b3b;
}

.project__banner label, .project__banner img{
    height: 86px;
    width: 100%;
    opacity: 0.3;
    z-index: 1;
    cursor: pointer;
}

.project__banner label [type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.project__banner label [type=radio] + img {
  cursor: pointer;
}

.project__banner label [type=radio]:checked + img {
  opacity: 0.9;
}
.project__banner{
    position: relative;
}

.project__banner img{
    display: block;
}


.projects{
    height: 70vh;
}

.prospect__info {
    height: 30vh;
}
.prospect_details{
    height: 40vh;
}

.form-control{
    width: 100%!important;
}

.selected{
    position: absolute;
    right: 0;
    margin-right: 40px;
    margin-top: -40px;
}

.help_button{
    border-radius: 20px;
}

.assistance_icon{
    stroke: #f4f0f0;
    width: 36px;
    height: 36px;
}

.assist_button{
    display: block;
    position: absolute;
    right: 0;
    transform: translateY(-50%) translateX(-50%);
}